*.pyc
*.mypy_cache*
*__pycache__
*.ipynb_checkpoints*
doc/*
*pickle
*whl
*tar.gz
PKG-INFO
*.txt
site/*
poetry.lock
client_id
pkgs/cache
pkgs/urls
setup.py
.venv/*

# Added by CDC, 20250127
.specstory/*
.DS_Store
